.packages{
    margin-top: 60px;
}
.myPackage{
    margin-bottom: 90px;
}   
.myPackage h4{
    color: green;
}
.myPackage h4 span{
    color: rgb(14, 14, 14);
}
.card{
    box-shadow: 0px 1px 30px rgba(8, 37, 50, 0.596);
}