/* .detailes {
  font-family: var(--smart-font);
  color: var(--text-color);
  padding-bottom: 5%;
} */
/* .detail-title-image img{
  height: 15vw;
  width: 15vw;
} */
.detailes{
  position: relative;
}
.detailes h1{
  font-weight: bold;
  font-size: 44px;
  color: black;
  filter: drop-shadow(0px 0px .5px rgb(0, 0, 0));
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.215);
  width: 100%;
  padding-bottom: 40px;
}

.myBorder{
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(6, 93, 130, 0.345);

}

  .serviceDetailes img{
    height: 20vw;
    width: 20vw;
  }
  .serviceDetailes p{
    font-size: large;
  }
/* .detailes img {
  width: 43vw;
  height: 33vw;
  box-shadow: 0px 0px 7px rgb(137, 137, 137);
  border: 2px solid rgb(43, 43, 43);
  border-radius: 1%;
} */
/* .data {
  border-left: 1px solid rgb(130, 129, 129);
  padding: 40px;
} */
/* .detaileIcon {
  font-size: 18px;
} */
