 .about{
    color: var(--text-color);
    font-family: var(--smart-font);
    margin-bottom: 50px;
 }

.mycard{
    padding: 10px;
    border:25px solid white
}
.front{
    z-index: 200;
}
.title{
    margin-top: 80px;
}
.contain{
    margin-right: 40px;
}
.contain img{
    margin: 10px;
}
.bg-mysuccess{
    background-color: rgb(102, 255, 130)    ;
}
.bg-myDanger{
    background-color: rgb(255, 146, 146);
}
@media screen and (width<=768.5px) {
    .contain {
      margin-left: 30px;
    }
    .contain img{
        display: none;
    }
  }