
.contact{
    margin-top:1%;
    margin-bottom:12%;
    font-family: var(--smart-font);
}
.contact h1{
    font-size: 5vw;
}

.icon-brand{
    color: rgb(54, 110, 239);
    font-size: 22vw;
}
.bord{
    font-size: 2vw;
    border-left: 1.5px solid rgb(139, 139, 139);
}