.contact {
  color: var(--text-color);
  font-family: var(--smart-font);
  position: relative;
}
.contact input,
.contact textarea {
  background-color: rgb(255, 255, 255);
  width: 50vw;
}
/* .contact textarea{
    background-color: rgb(183, 183, 183);
    width: 50vw;
} */
.contact h1 {
  font-size: 5vw;
}
.detailesBody {
  padding-top: 45px;
}
.icon-brand {
  margin-top: 40px;
  color: rgb(54, 110, 239);
  font-size: 22vw;
}
.bord {
  font-size: 1.55vw;
  border-left: 1.2px solid rgb(94, 94, 94);
  padding: 30px;
  margin-top: 30px;
}
form .icon-spinner {
  font-size: 6px;
  height: 18px;
  width: 18px;
}
.text-gray{
  font-size: 13px;
  color: gray;
}
