@keyframes move2{
    from{ transform:scale(1);}
    to{transform: scale(1.15);}
  }
  .side{
    position: fixed;
    z-index: 1;
    top: 80%;
  }
  .side li{
    padding-top: 33px;
    font-size: 50px;
    margin: 10px;
  }
  .side li .facebook{
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 15%;
    color: rgb(18, 73, 239);
  }
  .side li .whatsapp{
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 15%;
    color: rgb(56, 192, 106);
  }

  @media screen and (max-width: 1000px) {
  }
  .side ul li:hover{
  animation: move2 0.8s both;
  }
  .side ul{
    padding-right: 15px;
    padding-left: 25px;

  } 