.App {
  text-align: center;
}
.main{

  /* background-image: linear-gradient(rgba(0, 0, 0, 0.753), rgba(0, 0, 0, 0.776)), url(/public/images/logo.jpg); */
  background-color:var(--back-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--smart-font);
  z-index: 100;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --smart-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --color:#272727;
  --text-color:#000000;
  --back-color: rgb(255, 255, 255);
  --logo-color:rgb(83, 149, 206)
}

/* back */
.custom-shape-divider-top-1668520511 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 0;
}

.custom-shape-divider-top-1668520511 svg {
  position: relative;
  display: block;
  width: calc(160% + 1.3px);
  height: 1300px;
}

.custom-shape-divider-top-1668520511 .shape-fill {
  fill:  rgba(1, 102, 169, 0.591);
}